<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Music Player Web App</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Noto+Music&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap');
    </style>
</head>
<body>
    <div id="top">
        <h1>Music Player</h1>
        <div id="search-bar">
            <img src="../static/assets/search.png" alt="search">
            <span>Search for songs,artists</span>
        </div>
    </div>
    <main>
    <div id="container-nav">
        <nav>
            <ul>
                <li><a href="#"><img src="../static/assets/home.png" alt=""></a></li>
                <li><a href="#"><img src="../static/assets/like.png" alt=""></a></li>
                <li><a href="#"><img src="../static/assets/library.png" alt=""></a></li>
            </ul>
        </nav>
        
    </div>
    <div id="container-left">
        <img id="music-player" src="../static/assets/music-player.png" alt="music-player">
        <h1>Song Title</h1>
        <span id="cat">Genre</span>
        <figure id="player-time">
            <img src="" alt="">
            <span >---------------------------------------

            </span>
        </figure>
        <ul id="main-functions">
            <li id="fullscreen"><a href="#"><img src="../static/assets/exit-fullscreen.png" alt="ext-fullscreen"></a></li>
            <li id="prev"><a href="#"><img src="../static/assets/prev copy 3.png" alt="prev-button"></a></li>
            <li id="play"><a href="#"><img id="play-button" src="../static/assets/play.png" alt="play-button"></a></li>
            <li id="next"><a href="#"><img src="../static/assets/next.png" alt="next-button"></a></li>
            <li id="shuffle"><a href="#"><img src="../static/assets/shuffle.png" alt="shuffle-button"></a></li>
        </ul>
    </div>
    <div id="container-right">
        <h1>Music <br>Categories</h1>
        <ul id="category-list">
            <li id="classic"><span>Classic</span></li>
            <li id="90's">90's</span></li>
            <li id="New">New</span></li>
        </ul>
        <ul id="music-list">
            <li>
                <div>
                    <img src="" alt="">
                        <h2></h2>
                        <span></span>
                </div>
            </li>
            <li>
                <div>
                    <img src="" alt="">
                        <h2></h2>
                        <span></span>
                </div>
            </li>
            <li>
                <div>
                    <img src="" alt="">
                        <h2></h2>
                        <span></span>
                </div>
            </li>
            <li>
                <div>
                    <img src="" alt="">
                        <h2></h2>
                        <span></span>
                </div>
            </li>
            <li>
                <div>
                    <img src="" alt="">
                        <h2></h2>
                        <span></span>
                </div>
            </li>
        </ul>
        <div id="right-bottom">
            <h1>Liked Songs</h1>
            <ul id="liked-songs">
                <li>
                    <a href="#">
                    <div>
                        <h2 class="title">Song Name</h2>
                        <span class="artist">Artist</span>
                    </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <div>
                        <h2 class="title">Song Name</h2>
                        <span class="artist">Artist</span>
                    </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </main>
</body>
</html>